<h2 mat-dialog-title>Reset Password</h2>
<form [formGroup]="changePasswordForm" (ngSubmit)="ChangePassword()">
    <div class="row">
      <div class="col-md-12">
          <div class="form-group">
                <label for="Password">Password</label>
                <input type="password"  placeholder="Password" class="form-control" formControlName="Password" >
                <div *ngFor="let validation of validation_messages.Password">
                        <span class="error-message" *ngIf="changePasswordForm.get('Password').hasError(validation.type) && (changePasswordForm.get('Password').dirty || changePasswordForm.get('Password').touched)">{{validation.message}}</span>
                </div>
          </div>
      </div>      
    </div>
    <div class="row">
      <div class="col-md-12">
          <div class="form-group">
                <label for="ConfirmPassword">Confirm Password</label>
                <input type="password"  placeholder="Confirm Password" class="form-control" formControlName="ConfirmPassword" >
                <div *ngFor="let validation of validation_messages.ConfirmPassword">
                        <span class="error-message" *ngIf="changePasswordForm.get('ConfirmPassword').hasError(validation.type) && (changePasswordForm.get('ConfirmPassword').dirty || changePasswordForm.get('ConfirmPassword').touched)">{{validation.message}}</span>
                </div>
                <span class="error-message">{{errorMessagePassword}}</span>
          </div>
      </div>      
    </div>
          <mat-dialog-actions style="float: right;">
              <button class="btn btn-default" [mat-dialog-close]="true">Cancel</button>&nbsp;&nbsp;&nbsp;
            <button type="submit" class="btn btn-primary" [disabled]="!changePasswordForm.valid">Save</button>
          </mat-dialog-actions>
  </form>