<div class="row">
  <div class="form-group">
    <div class="col-md-3">
      <div id="mySidenav" class="sidenav">
        <!-- <a href="javascript:void(0)" class="closebtn">&times;</a> -->
        <a [routerLink]="['/Landing',pumpCode]">DashBoard</a>
        <a [routerLink]="['/Inventory',pumpCode]">Inventory and Price Management</a>
        <a [routerLink]="['/Creditor',pumpCode]">Creditor</a>
        <a [routerLink]="['/DailyPrice',pumpCode]">Set Daily Price</a>
        <a [routerLink]="['/FuelRequest',pumpCode]">Fuel Request</a>
        <a [routerLink]="['/FuelRequestReceived',pumpCode]">Fuel Request Received</a>
      </div>
    </div>
      <!-- <userform (userCreated)="addUser($event)"></userform> -->
      <div class="col-md-9 table-responsive" *ngIf="pumpProductWithLubesPrise != null && pumpProductWithLubesPrise.length>0">
        <table style="border: 1px solid black" class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th>Name</th>
              <th>Unit</th>
              <th>Purchase Price</th>
              <th>Sale Price</th>
              <th>Date Measured on</th>
              <th>Action</th>
            </tr>
          </thead>
          <tr *ngFor="let product of pumpProductWithLubesPrise let i=index">
            <!-- <td>{{product.ProductID}}</td> -->
            <th>{{product.ProductName}}</th>
            <td>{{product.UnitName}}</td>
            <td>{{product.PurchaseRate}}</td>
            <td>{{product.SaleRate}}</td>
            <td>{{product.DateStockMeasuredOn | date}}</td>
            <!-- <td>{{product.CreatedOn}}</td>
      <td>{{product.CreatedBy}}</td> -->
            <!-- <td>{{getUserRole(product.RoleID)}}</td> -->
            <td>
              <a (click)="editProduct(product)" style="cursor: pointer;">Purchase Stock</a>&nbsp;
              <a (click)="editProductPrice(product)" style="cursor: pointer;" *ngIf="product.CategoryID==2">Adjust Price</a>&nbsp;
              <!-- <a (click)="DeleteProduct(product)" style="cursor: pointer;">Delete</a>-->
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
<!-- <div>
  <a [routerLink]="['/dashboard',this.pumpCode]">Manage Inventory</a>
</div> -->