<div class="row">
        <div class="form-group">
          <!-- <div class="col-md-3">
            <div id="mySidenav" class="sidenav">
              <a [routerLink]="['/Landing',pumpCode]" *ngIf="userData && userData.RoleID!=2">DashBoard</a>
              <a [routerLink]="['/Inventory',pumpCode]" *ngIf="userData && userData.RoleID!=2">Inventory and Price Management</a>
              <a [routerLink]="['/Creditor',pumpCode]" *ngIf="userData && userData.RoleID!=2">Creditor</a>
              <a [routerLink]="['/DailyPrice',pumpCode]" *ngIf="userData && userData.RoleID!=2">Set Daily Price</a>
              <a [routerLink]="['/FuelRequest',pumpCode]" *ngIf="userData && userData.RoleID==2">Fuel Request</a>
              <a [routerLink]="['/FuelRequestReceived',pumpCode]" *ngIf="userData && userData.RoleID!=2">Fuel Request Received</a>
              <a [routerLink]="['/CreditorLedger',pumpCode]" *ngIf="userData && userData.RoleID==2">Ledger</a>
              <a [routerLink]="['/DailyTankReading',pumpCode]" *ngIf="userData && userData.RoleID!=2">Set Daily Tank Reading</a>
              <a [routerLink]="['/DailyNozzleReading',pumpCode]" *ngIf="userData && userData.RoleID!=2">Set Daily Nozzle Reading</a>
            </div>
          </div> -->
          <!-- <userform (userCreated)="addUser($event)"></userform> -->
          <div class="col-md-12">
            <!-- <div>
              <div>
                <button class="btn btn-primary" style="float:right;" (click)="openAddFuelRequestDialog()">Add Fuel Request</button>
              </div>
            </div> -->
            <div class="table-responsive" *ngIf="pumpUsers && pumpUsers.length>0">
                <input type="text" class="col-md-2 top-creditor-search-input" id="search-top-creditor" placeholder="Search" [(ngModel)]="query">
              <table style="border: 1px solid black" class="table table-striped">
                <thead class="thead-dark">
                  <tr>                      
                      <th (click)="sort('UserId')" class="cursorpointer">Creditor Id
                          <span class="glyphicon sort-icon" *ngIf="key =='UserId'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                      </th>
                    <th (click)="sort('ProductName')" class="cursorpointer">Product Name
                        <span class="glyphicon sort-icon" *ngIf="key =='ProductName'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th (click)="sort('UnitName')" class="cursorpointer">Unit Name
                        <span class="glyphicon sort-icon" *ngIf="key =='UnitName'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>                   
                    <th (click)="sort('PurchaseQuantity')" class="cursorpointer">Request Stock
                        <span class="glyphicon sort-icon" *ngIf="key =='PurchaseQuantity'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>                   
                    <th (click)="sort('TotalPrice')" class="cursorpointer">Request Amount
                        <span class="glyphicon sort-icon" *ngIf="key =='TotalPrice'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>                   
                    <th (click)="sort('DateMeasured')" class="cursorpointer">Request Date
                        <span class="glyphicon sort-icon" *ngIf="key =='DateMeasured'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th> 
                    <th (click)="sort('IsApproved')" class="cursorpointer">Status
                        <span class="glyphicon sort-icon" *ngIf="key =='IsApproved'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th> 
                    <th>Action</th>
                  </tr>
                </thead>
                <tr *ngFor="let pumpUser of pumpUsers | orderBy: key : reverse | SearchFilter: query | paginate: { itemsPerPage: 10, currentPage: pageNumber }; let i=index">
                    <td>{{pumpUser.UserId}}</td>
                  <td>{{pumpUser.ProductName}}</td>
                  <td>{{pumpUser.UnitName}}</td>    
                  <td>{{pumpUser.PurchaseQuantity}}</td>    
                  <td>{{pumpUser.TotalPrice}}</td>    
                  <td>{{pumpUser.DateMeasured | date}}</td>    
                  <td>{{pumpUser.IsApproved == 1 ? 'Approved' : 'Pending'}}</td>                  
                  <td>
                    <a (click)="editUser(pumpUser)" style="cursor: pointer;" *ngIf="!pumpUser.IsApproved">Approve</a>&nbsp;
                    <a (click)="DeleteUser(pumpUser)" style="cursor: pointer;" *ngIf="!pumpUser.IsApproved">Reject</a>
                  </td>
                </tr>
              </table>
              <pagination-controls (pageChange)="paginate($event)"></pagination-controls>
            </div>
          </div>
        </div>
      </div>

      <div class="loadercheckout" style="display: block;" *ngIf="petrolPumpService.globalLoader"></div>