<form [formGroup]="paymentLedgerForm" style="width: 98%;">
    <div class="row">
        <div class="col-md-12">

                <div class="table-responsive" *ngIf="paymentType && paymentType.length>0">
                        <table style="border: 1px solid black" class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Payment Type</th>
                                    <!-- <th>Name</th> -->
                                    <th>Balance</th>
                                    <th>View Ledger</th>
                                </tr>
                            </thead>
                            <tr *ngFor="let paymentTypeTemp of paymentType let i=index">
                                <!-- <td>{{paymentTypeTemp.ID}}</td> -->
                                <td>{{paymentTypeTemp.PaymentTypeName}}</td>
                                <!-- <td>
                                    <div [innerHtml]="paymentLedgerTemp.Description"></div>
                                </td> -->
                                <td>{{paymentTypeTemp.Amount}}</td>
                                <td><a (click)="ViewLedger(paymentTypeTemp.PaymentTypeID)" style="cursor: pointer;">View Ledger</a></td>
                            </tr>
                            <!-- <tr>
                      <th>Balance = {{creditLimit}}</th>
                      <th></th>
                      <th></th>
                      <th></th>
                    </tr> -->
                        </table>
                    </div>

            <!-- <div class="form-group">
                <label for="PaymentTypeID">Payment Type
                    <span class="required">*</span>
                </label>
                <select class="form-control" formControlName="PaymentTypeID" (change)="onChange(this)">
                    <option [ngValue]="0" disabled>--Select--</option>
                    <option *ngFor="let itempaymentType of paymentType;let i=index" [ngValue]="itempaymentType.ID">{{itempaymentType.Name}}</option>
                </select>
            </div> -->
        </div>
    </div>
</form>
