<br/>

<form [formGroup]="pumpAdditionalInfoForm" (ngSubmit)="savePumpInfo()" style="width: 98%;">
    <div class="row">
        <div class="col-md-6 setupHeader">
            <div class="form-group">
                <h3>Additional Details
                </h3>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- <div class="col-md-6">
                <div class="form-group">
                    <label for="Petrol Pump Name">Name <span class="required">*</span></label>
                    <input placeholder="Petrol Pump Name" class="form-control" formControlName="PetrolPumpName">
                    <div *ngFor="let validation of validation_messages.PetrolPumpName">
                            <span class="error-message" *ngIf="pumpInfoForm.get('PetrolPumpName').hasError(validation.type) && (pumpInfoForm.get('PetrolPumpName').dirty || pumpInfoForm.get('PetrolPumpName').touched)">{{validation.message}}</span>
                    </div>
                </div>      
            </div> -->
        <div class="col-md-6">
            <div class="form-group">
                <label for="PetrolPumpName">Address Line 1
                    <span class="required">*</span>
                </label>
                <input placeholder="Address Line 1" class="form-control" formControlName="Address" [readonly]="RoleID != -2">
                <div *ngFor="let validation of validation_messages.Address">
                    <span class="error-message" *ngIf="pumpAdditionalInfoForm.get('Address').hasError(validation.type) && (pumpAdditionalInfoForm.get('Address').dirty || pumpAdditionalInfoForm.get('Address').touched)">{{validation.message}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Address2">Address Line 2
                    <span class="required">*</span>
                </label>
                <input placeholder="Address Line 2" class="form-control" formControlName="Address2" [readonly]="RoleID != -2">
                <div *ngFor="let validation of validation_messages.Address2">
                    <span class="error-message" *ngIf="pumpAdditionalInfoForm.get('Address2').hasError(validation.type) && (pumpAdditionalInfoForm.get('Address2').dirty || pumpAdditionalInfoForm.get('Address2').touched)">{{validation.message}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="City">City
                    <span class="required">*</span>
                </label>
                <input placeholder="City" class="form-control" formControlName="City" [readonly]="RoleID != -2">
                <div *ngFor="let validation of validation_messages.City">
                    <span class="error-message" *ngIf="pumpAdditionalInfoForm.get('City').hasError(validation.type) && (pumpAdditionalInfoForm.get('City').dirty || pumpAdditionalInfoForm.get('City').touched)">{{validation.message}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="State">State
                    <span class="required">*</span>
                </label>
                <!-- <input placeholder="State" class="form-control" formControlName="State"> -->
                <select class="form-control" formControlName="State" (change)="onChange()">
                    <option [ngValue]="0" disabled>--Select--</option>
                    <option *ngFor="let itemState of states;let i=index" [ngValue]="itemState.ID">{{itemState.Name}}</option>
                </select>
                <span class="error-message">{{validationStateMessage}}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Country">Country
                    <span class="required">*</span>
                </label>
                <input placeholder="Country" class="form-control" formControlName="Country" disabled>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Pincode">Pincode
                    <span class="required">*</span>
                </label>
                <input placeholder="Pincode" class="form-control" formControlName="PetrolPumpPincode" [readonly]="RoleID != -2">
                <div *ngFor="let validation of validation_messages.PetrolPumpPincode">
                    <span class="error-message" *ngIf="pumpAdditionalInfoForm.get('PetrolPumpPincode').hasError(validation.type) && (pumpAdditionalInfoForm.get('PetrolPumpPincode').dirty || pumpAdditionalInfoForm.get('PetrolPumpPincode').touched)">{{validation.message}}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="email">Email
                    <span class="required">*</span>
                </label>
                <input placeholder="Email" class="form-control" formControlName="Email">
                <div *ngFor="let validation of validation_messages.Email">
                    <span class="error-message" *ngIf="pumpInfoForm.get('Email').hasError(validation.type) && (pumpInfoForm.get('Email').dirty || pumpInfoForm.get('Email').touched)">{{validation.message}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
                <div class="form-group">
                    <label for="Password">Password <span class="required">*</span></label>
                    <input placeholder="Password" class="form-control" formControlName="Password">
                    <div *ngFor="let validation of validation_messages.Password">
                            <span class="error-message" *ngIf="pumpInfoForm.get('Password').hasError(validation.type) && (pumpInfoForm.get('Password').dirty || pumpInfoForm.get('Password').touched)">{{validation.message}}</span>
                    </div>
                </div>      
            </div>
    </div> -->

    <!--  <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Address">Address</label>
                <input placeholder="Address" class="form-control" formControlName="Address">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Pincode">Mobile
                    <span class="required">*</span>
                </label>
                <input placeholder="Mobile" class="form-control" formControlName="Mobile">
                <div *ngFor="let validation of validation_messages.Mobile">
                    <span class="error-message" *ngIf="pumpInfoForm.get('Mobile').hasError(validation.type) && (pumpInfoForm.get('Mobile').dirty || pumpInfoForm.get('Mobile').touched)">{{validation.message}}</span>
                </div>
            </div>
        </div>

    </div> -->
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="TIN">TIN
                    <!-- <span class="required">*</span> -->
                </label>
                <input placeholder="TIN" class="form-control" formControlName="TIN">
                <div *ngFor="let validation of validation_messages.TIN">
                    <span class="error-message" *ngIf="pumpAdditionalInfoForm.get('TIN').hasError(validation.type) && (pumpAdditionalInfoForm.get('TIN').dirty || pumpAdditionalInfoForm.get('TIN').touched)">{{validation.message}}</span>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="CST">CST
                    <!-- <span class="required">*</span> -->
                </label>
                <input placeholder="CST" class="form-control" formControlName="CST">
                <div *ngFor="let validation of validation_messages.CST">
                    <span class="error-message" *ngIf="pumpAdditionalInfoForm.get('CST').hasError(validation.type) && (pumpAdditionalInfoForm.get('CST').dirty || pumpAdditionalInfoForm.get('CST').touched)">{{validation.message}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Logo">Logo</label>
                <input type="file" placeholder="Logo" class="form-control" formControlName="Logo">
            </div>
        </div>
    </div>
    <!-- <div class="row"> -->
    <!-- <div class="col-md-6">
                <div class="form-group">
                    <label for="OwnerName">Owner Name
                        <span class="required">*</span>
                    </label>
                    <input placeholder="Owner Name" class="form-control" formControlName="OwnerName">
                    <div *ngFor="let validation of validation_messages.OwnerName">
                        <span class="error-message" *ngIf="pumpInfoForm.get('OwnerName').hasError(validation.type) && (pumpInfoForm.get('OwnerName').dirty || pumpInfoForm.get('OwnerName').touched)">{{validation.message}}</span>
                    </div>
                </div>
            </div> -->
    <!-- <div class="col-md-6">
                <div class="form-group">
                    
                </div>
            </div>
        </div> -->
    <!-- <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="StartDate">License Start Date <span class="required">*</span></label>
                <input type="date" placeholder="License Start Date" class="form-control" formControlName="LicenseStartDate">
                <div *ngFor="let validation of validation_messages.LicenseStartDate">
                        <span class="error-message" *ngIf="pumpInfoForm.get('LicenseStartDate').hasError(validation.type) && (pumpInfoForm.get('LicenseStartDate').dirty || pumpInfoForm.get('LicenseStartDate').touched)">{{validation.message}}</span>
                </div>
            </div>
          
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="EndDate">License End Date <span class="required">*</span></label>
                <input type="date" placeholder="License End Date " class="form-control" formControlName="LicenseEndDate">
                <div *ngFor="let validation of validation_messages.LicenseEndDate">
                        <span class="error-message" *ngIf="pumpInfoForm.get('LicenseEndDate').hasError(validation.type) && (pumpInfoForm.get('LicenseEndDate').dirty || pumpInfoForm.get('LicenseEndDate').touched)">{{validation.message}}</span>
                </div>
            </div>
        </div>
      </div> -->
    <div style="float:right;">
            <input type="button" class="btn btn-primary" value="Reset" (click)="reset()">&nbsp;&nbsp;&nbsp;
        <button class="btn btn-primary" type="submit" [disabled]="!pumpAdditionalInfoForm.valid" (click)='checkFormValid()'>Save & Next</button>
    </div>
</form>