<br/>

<form [formGroup]="pumpInfoForm" (ngSubmit)="savePumpInfo()" style="width: 98%;">
        <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="PetrolPumpCode">Petrol Pump Code
                        </label>
                        <input class="form-control" formControlName="PetrolPumpCode" disabled>
                    </div>
                </div>
            </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="PetrolPumpName">Name
                    <span class="required">*</span>
                </label>
                <input placeholder="Petrol Pump Name" class="form-control" formControlName="PetrolPumpName">
                <div *ngFor="let validation of validation_messages.PetrolPumpName">
                    <span class="error-message" *ngIf="pumpInfoForm.get('PetrolPumpName').hasError(validation.type) && (pumpInfoForm.get('PetrolPumpName').dirty || pumpInfoForm.get('PetrolPumpName').touched)">{{validation.message}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="OwnerName">Owner Name
                    <span class="required">*</span>
                </label>
                <input placeholder="Owner Name" class="form-control" formControlName="OwnerName">
                <div *ngFor="let validation of validation_messages.OwnerName">
                    <span class="error-message" *ngIf="pumpInfoForm.get('OwnerName').hasError(validation.type) && (pumpInfoForm.get('OwnerName').dirty || pumpInfoForm.get('OwnerName').touched)">{{validation.message}}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-6">
                    <div class="form-group">
                        <label for="Pincode">Pincode <span class="required">*</span></label>
                        <input placeholder="Pincode" class="form-control" formControlName="PetrolPumpPincode">
                        <div *ngFor="let validation of validation_messages.PetrolPumpPincode">
                                <span class="error-message" *ngIf="pumpInfoForm.get('PetrolPumpPincode').hasError(validation.type) && (pumpInfoForm.get('PetrolPumpPincode').dirty || pumpInfoForm.get('PetrolPumpPincode').touched)">{{validation.message}}</span>
                        </div>
                    </div>
            </div> -->
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="email">Email
                    <span class="required">*</span>
                </label>
                <input placeholder="Email" class="form-control" formControlName="Email">
                <div *ngFor="let validation of validation_messages.Email">
                    <span class="error-message" *ngIf="pumpInfoForm.get('Email').hasError(validation.type) && (pumpInfoForm.get('Email').dirty || pumpInfoForm.get('Email').touched)">{{validation.message}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Pincode">Mobile
                    <span class="required">*</span>
                </label>
                <input placeholder="Mobile" class="form-control" formControlName="Mobile">
                <div *ngFor="let validation of validation_messages.Mobile">
                    <span class="error-message" *ngIf="pumpInfoForm.get('Mobile').hasError(validation.type) && (pumpInfoForm.get('Mobile').dirty || pumpInfoForm.get('Mobile').touched)">{{validation.message}}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-6">
                <div class="form-group">
                    <label for="Password">Password <span class="required">*</span></label>
                    <input placeholder="Password" class="form-control" formControlName="Password">
                    <div *ngFor="let validation of validation_messages.Password">
                            <span class="error-message" *ngIf="pumpInfoForm.get('Password').hasError(validation.type) && (pumpInfoForm.get('Password').dirty || pumpInfoForm.get('Password').touched)">{{validation.message}}</span>
                    </div>
                </div>      
            </div> -->
    <!-- </div>
        <div class="row"> -->
    <!--  <div class="col-md-6">
            <div class="form-group">
                <label for="OwnerName">Owner Name <span class="required">*</span></label>
                <input placeholder="Owner Name" class="form-control" formControlName="OwnerName">
                <div *ngFor="let validation of validation_messages.OwnerName">
                        <span class="error-message" *ngIf="pumpInfoForm.get('OwnerName').hasError(validation.type) && (pumpInfoForm.get('OwnerName').dirty || pumpInfoForm.get('OwnerName').touched)">{{validation.message}}</span>
                </div>
            </div>      
        </div> -->
    <!-- <div class="col-md-6">
            <div class="form-group">
                <label for="Logo">Logo</label>
                <input type="file" placeholder="Logo" class="form-control" formControlName="Logo">
            </div>      
        </div> -->
    <!-- </div>
      <div class="row">-->
    <!-- <div class="col-md-6">
            <div class="form-group">
                <label for="Address">Address</label>
                <input placeholder="Address" class="form-control" formControlName="Address">
            </div>
        </div> -->
    <!-- <div class="col-md-6">
            <div class="form-group">
                <label for="Pincode">Mobile <span class="required">*</span></label>
                <input placeholder="Mobile" class="form-control" formControlName="Mobile">
                <div *ngFor="let validation of validation_messages.Mobile">
                        <span class="error-message" *ngIf="pumpInfoForm.get('Mobile').hasError(validation.type) && (pumpInfoForm.get('Mobile').dirty || pumpInfoForm.get('Mobile').touched)">{{validation.message}}</span>
                </div>
            </div>      
        </div> -->

    <!--  </div>-->
    <!-- <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="CST">TIN 
                </label>
                <input placeholder="TIN" class="form-control" formControlName="TIN">
                <div *ngFor="let validation of validation_messages.TIN">
                        <span class="error-message" *ngIf="pumpInfoForm.get('TIN').hasError(validation.type) && (pumpInfoForm.get('TIN').dirty || pumpInfoForm.get('TIN').touched)">{{validation.message}}</span>
                </div>
            </div>        
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="CST">CST 
                </label>
                <input placeholder="CST" class="form-control" formControlName="CST">
                <div *ngFor="let validation of validation_messages.CST">
                        <span class="error-message" *ngIf="pumpInfoForm.get('CST').hasError(validation.type) && (pumpInfoForm.get('CST').dirty || pumpInfoForm.get('CST').touched)">{{validation.message}}</span>
                </div>
            </div>        
        </div>
      </div> -->
    <!-- <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="StartDate">License Start Date <span class="required">*</span></label>
                <input type="date" placeholder="License Start Date" class="form-control" formControlName="LicenseStartDate">
                <div *ngFor="let validation of validation_messages.LicenseStartDate">
                        <span class="error-message" *ngIf="pumpInfoForm.get('LicenseStartDate').hasError(validation.type) && (pumpInfoForm.get('LicenseStartDate').dirty || pumpInfoForm.get('LicenseStartDate').touched)">{{validation.message}}</span>
                </div>
            </div>
          
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="EndDate">License End Date <span class="required">*</span></label>
                <input type="date" placeholder="License End Date " class="form-control" formControlName="LicenseEndDate">
                <div *ngFor="let validation of validation_messages.LicenseEndDate">
                        <span class="error-message" *ngIf="pumpInfoForm.get('LicenseEndDate').hasError(validation.type) && (pumpInfoForm.get('LicenseEndDate').dirty || pumpInfoForm.get('LicenseEndDate').touched)">{{validation.message}}</span>
                </div>
            </div>
        </div>
      </div> -->
    <div style="float:right;">
        <button class="btn btn-default" (click)="cancel()">Cancel</button> &nbsp;&nbsp;&nbsp;
        <button class="btn btn-primary" type="submit" [disabled]="!pumpInfoForm.valid">Save</button>
    </div>
</form>