
<div class="tab-content-wrapper">
    <div class="row">
        <div class="col-md-12">  
                <div class="table-responsive" *ngIf="tank && tank.length>0">
                        <table class="table tab-content-table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Tank Name</th>
                                    <th>Current Stock</th>                                   
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tr *ngFor="let tankItem of tank let i=index">
                                    <td> {{tankItem.TankName}}</td>
                                <td>{{tankItem.Stock}}</td>  
                                <td><a  (click)="OpenTankLedgerDialog(tankItem.ID)" style="cursor: pointer;">View Ledger</a></td>
                            </tr>
                        </table>
                    </div>
        </div>
    </div>
    <div class="loadercheckout" style="display: block;" *ngIf="petrolPumpService.globalLoader"></div>
</div>
