
    <div class="row">
        <div class="col-md-12">
           
                
                <div class="table-responsive" *ngIf="tank && tank.length>0">
                        <table style="border: 1px solid black" class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Tank Name</th>
                                    <th>Current Stock</th>                                   
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tr *ngFor="let tankItem of tank let i=index">
                                    <td> {{tankItem.TankName}}</td>
                                <td>{{tankItem.Stock}}</td>  
                                <td><a  (click)="OpenTankLedgerDialog(tankItem.ID)" style="cursor: pointer;">View Ledger</a></td>
                            </tr>
                            <!-- <tr>
                      <th>Balance = {{creditLimit}}</th>
                      <th></th>
                      <th></th>
                      <th></th>
                    </tr> -->
                        </table>
                    </div>

            <!-- <div class="form-group">
                <label for="PaymentTypeID">Payment Type
                    <span class="required">*</span>
                </label>
                <select class="form-control" formControlName="PaymentTypeID" (change)="onChange(this)">
                    <option [ngValue]="0" disabled>--Select--</option>
                    <option *ngFor="let itempaymentType of paymentType;let i=index" [ngValue]="itempaymentType.ID">{{itempaymentType.Name}}</option>
                </select>
            </div> -->
        </div>
    </div>

