<div class="custom-modal-container">
<div class="modal-header"><h2 mat-dialog-title>Purchase Stock</h2></div>
<form [formGroup]="inventoryDialogform" (ngSubmit)="createProduct()">
    <!-- <div class="row" *ngIf="IsEditDialog == true">
        <div class="col-md-6">
            <div class="form-group">
                <label for="ProductCode">Product Code</label>
                <input class="form-control" formControlName="ProductCode" disabled>
            </div>
        </div>
    </div> -->
    <!-- <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="ProductID">Product
                    <span class="required">*</span>
                </label>
                <select class="form-control" formControlName="ProductID" (change)="onChange()" required>                    
                    <option [ngValue]="0" disabled>--Select--</option>
                    <optgroup label="{{allProduct[0].CategoryName}}">
                        <option *ngFor="let product of allProduct[0].pumpProducts;let i=index" [ngValue]="product.ID">{{product.Name}}</option>
                    </optgroup>
                    <optgroup label="{{allProduct[1].CategoryName}}">
                        <option *ngFor="let product of allProduct[1].pumpProducts;let i=index" [ngValue]="product.ID">{{product.Name}}</option>
                    </optgroup>
                    <optgroup label="{{allProduct[2].CategoryName}}">
                        <option *ngFor="let product of allProduct[2].pumpProducts;let i=index" [ngValue]="product.ID">{{product.Name}}</option>
                    </optgroup>
                </select>
                <span class="error-message">{{validationProductIDMessage}}</span>                
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Description">Product Description</label>
                <input placeholder="Product Description" class="form-control" formControlName="Description">
                <div *ngFor="let validation of validation_messages.Description">
                    <span class="error-message" *ngIf="productDialogform.get('Description').hasError(validation.type) && (productDialogform.get('Description').dirty || productDialogform.get('Description').touched)">{{validation.message}}</span>
                </div>
            </div>
        </div>
    </div> -->
    <div id="dvLubricants" *ngIf="divCategory == 2">
        <!-- <div class="row">
            <div class="col-md-6">
                <div class="form-group">                    
                    <label for="Unit">Unit
                        <span class="required">*</span>
                    </label>
                    <select class="form-control" formControlName="Unit" (change)="onChange()">
                        <option [ngValue]="0" disabled>--Select Unit--</option>
                        <option *ngFor="let itemUnit of units;let i=index" [ngValue]="itemUnit.ID">{{itemUnit.Name}}</option>
                    </select>
                    <span class="error-message">{{validationUnitMessage}}</span>
                </div>
            </div>
        </div> -->
        <!-- <div class="row saperatorDiv"><span class="saperatorSpan">Initials</span></div> -->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="InitialQuantity">
                        Add Stock
                        <span class="required">*</span>
                    </label>
                    <input type="number" placeholder="Add Stock" class="form-control" formControlName="InitialQuantity" required>
                    <div *ngFor="let validation of validation_messages.InitialQuantity">
                        <span class="error-message" *ngIf="inventoryDialogform.get('InitialQuantity').hasError(validation.type) && (inventoryDialogform.get('InitialQuantity').dirty || inventoryDialogform.get('InitialQuantity').touched)">{{validation.message}}</span>
                    </div>
                    <!-- <label for="PurchaseQuantity">Purchase Quantity</label>
                    <input placeholder="Purchase Quantity" class="form-control" formControlName="PurchaseQuantity">-->
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="DateStockMeasuredOn">
                        Date Measured On
                        <span class="required">*</span>
                    </label>
                    <input type="date" placeholder="Date Measured On" class="form-control" formControlName="DateStockMeasuredOn" required>
                    <div *ngFor="let validation of validation_messages.DateStockMeasuredOn">
                        <span class="error-message" *ngIf="inventoryDialogform.get('DateStockMeasuredOn').hasError(validation.type) && (inventoryDialogform.get('DateStockMeasuredOn').dirty || inventoryDialogform.get('DateStockMeasuredOn').touched)">{{validation.message}}</span>
                    </div>
                    <!-- <label for="PurchaseQuantity">Purchase Quantity</label>
                        <input placeholder="Purchase Quantity" class="form-control" formControlName="PurchaseQuantity">-->
                </div>
            </div>
        </div>
        <!-- <div class="row saperatorDiv"><span class="saperatorSpan">Purchase</span></div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="PurchaseRate">Purchase Rate
                        <span class="required">*</span>
                    </label>
                    <input type="number" placeholder="Purchase Rate" class="form-control" formControlName="PurchaseRate" required>
                    <div *ngFor="let validation of validation_messages.PurchaseRate">
                        <span class="error-message" *ngIf="productDialogform.get('PurchaseRate').hasError(validation.type) && (productDialogform.get('PurchaseRate').dirty || productDialogform.get('PurchaseRate').touched)">{{validation.message}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="PurchaseDate">As on Date
                        <span class="required">*</span>
                    </label>
                    <input type="date" placeholder="As on Date" class="form-control" formControlName="PurchaseDate" required>
                    <div *ngFor="let validation of validation_messages.PurchaseDate">
                        <span class="error-message" *ngIf="productDialogform.get('PurchaseDate').hasError(validation.type) && (productDialogform.get('PurchaseDate').dirty || productDialogform.get('PurchaseDate').touched)">{{validation.message}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row saperatorDiv"><span class="saperatorSpan">Sales</span></div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="SaleRate">Sale Price
                        <span class="required">*</span>
                    </label>
                    <input type="number" placeholder="Sale Price" class="form-control" formControlName="SaleRate" required>
                    <div *ngFor="let validation of validation_messages.SaleRate">
                        <span class="error-message" *ngIf="productDialogform.get('SaleRate').hasError(validation.type) && (productDialogform.get('SaleRate').dirty || productDialogform.get('SaleRate').touched)">{{validation.message}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="SaleDate">As on Date
                        <span class="required">*</span>
                    </label>
                    <input type="date" placeholder="As on Date" class="form-control" formControlName="SaleDate" required>
                    <div *ngFor="let validation of validation_messages.SaleDate">
                        <span class="error-message" *ngIf="productDialogform.get('SaleDate').hasError(validation.type) && (productDialogform.get('SaleDate').dirty || productDialogform.get('SaleDate').touched)">{{validation.message}}</span>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <div id="dvFuel" *ngIf="divCategory == 1">
        <!-- <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="TankerCapacity">Tanker
                        <span class="required">*</span>
                    </label>
                    <select class="form-control" formControlName="TankerCapacity" (change)="onChange()">
                        <option [ngValue]="0" disabled>--Select Tanker--</option>
                        <option [ngValue]="1" disabled>12000</option>
                        <option [ngValue]="2" disabled>18000</option>
                    </select>
                    <span class="error-message">{{validationUnitMessage}}</span>
                </div>
            </div>
        </div> -->
        <!-- <div class="row saperatorDiv"><span class="saperatorSpan">Tank Details</span></div> -->
        <!-- <div *ngFor="let itemPumpProduct of pumpTanks; let in=index">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ProductName">{{itemPumpProduct.TankName}}
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input placeholder="Opening Reading" class="form-control" [(ngModel)]="itemPumpProduct.OpeningReading" #OpeningReading="ngModel" name="OpeningReading-{{in}}">
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="row saperatorDiv"><span class="saperatorSpan">Purchase</span></div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="PurchaseRate">Purchase Rate
                        <span class="required">*</span>
                    </label>
                    <input type="number" placeholder="Purchase Rate" class="form-control" formControlName="PurchaseRate" required>
                    <div *ngFor="let validation of validation_messages.PurchaseRate">
                        <span class="error-message" *ngIf="productDialogform.get('PurchaseRate').hasError(validation.type) && (productDialogform.get('PurchaseRate').dirty || productDialogform.get('PurchaseRate').touched)">{{validation.message}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="PurchaseDate">As on Date
                        <span class="required">*</span>
                    </label>
                    <input type="date" placeholder="As on Date" class="form-control" formControlName="PurchaseDate" required>
                    <div *ngFor="let validation of validation_messages.PurchaseDate">
                        <span class="error-message" *ngIf="productDialogform.get('PurchaseDate').hasError(validation.type) && (productDialogform.get('PurchaseDate').dirty || productDialogform.get('PurchaseDate').touched)">{{validation.message}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row saperatorDiv"><span class="saperatorSpan">Sales</span></div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="SaleRate">Sale Price
                        <span class="required">*</span>
                    </label>
                    <input type="number" placeholder="Sale Price" class="form-control" formControlName="SaleRate" required>
                    <div *ngFor="let validation of validation_messages.SaleRate">
                        <span class="error-message" *ngIf="productDialogform.get('SaleRate').hasError(validation.type) && (productDialogform.get('SaleRate').dirty || productDialogform.get('SaleRate').touched)">{{validation.message}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="SaleDate">As on Date
                        <span class="required">*</span>
                    </label>
                    <input type="date" placeholder="As on Date" class="form-control" formControlName="SaleDate" required>
                    <div *ngFor="let validation of validation_messages.SaleDate">
                        <span class="error-message" *ngIf="productDialogform.get('SaleDate').hasError(validation.type) && (productDialogform.get('SaleDate').dirty || productDialogform.get('SaleDate').touched)">{{validation.message}}</span>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <div id="dvMisc" *ngIf="divCategory == 3">
        <!--<div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Misc">Misc</label>
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Unit">Unit</label>
                    <input placeholder="Unit" class="form-control" formControlName="Unit">
                    <div *ngFor="let validation of validation_messages.Unit">
                        <span class="error-message" *ngIf="productDialogform.get('Unit').hasError(validation.type) && (productDialogform.get('Unit').dirty || productDialogform.get('Unit').touched)">{{validation.message}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Description">Description</label>
                    <input placeholder="Description" class="form-control" formControlName="Description">
                    <div *ngFor="let validation of validation_messages.Description">
                        <span class="error-message" *ngIf="productDialogform.get('Description').hasError(validation.type) && (productDialogform.get('Description').dirty || productDialogform.get('Description').touched)">{{validation.message}}</span>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Quantity">Initial Quantity</label>
                    <input placeholder="Initial Quantity" class="form-control" formControlName="Quantity">
                    <div *ngFor="let validation of validation_messages.Quantity">
                        <span class="error-message" *ngIf="productDialogform.get('Quantity').hasError(validation.type) && (productDialogform.get('Quantity').dirty || productDialogform.get('Quantity').touched)">{{validation.message}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="DateStockMeasuredOn">Date stock measured on</label>
                    <input type="date" placeholder="Date Stock Measured On" class="form-control" formControlName="DateStockMeasuredOn">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="PurchaseRate">Purchase Rate</label>
                    <input placeholder="Purchase Rate" class="form-control" formControlName="PurchaseRate">
                    <div *ngFor="let validation of validation_messages.PurchaseRate">
                        <span class="error-message" *ngIf="productDialogform.get('PurchaseRate').hasError(validation.type) && (productDialogform.get('PurchaseRate').dirty || productDialogform.get('PurchaseRate').touched)">{{validation.message}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="PurchaseDate">Purchase Date</label>
                    <input type="date" placeholder="Purchase Date" class="form-control" formControlName="PurchaseDate">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="SaleRate">Sale Rate</label>
                    <input placeholder="Sale Rate" class="form-control" formControlName="SaleRate">
                    <div *ngFor="let validation of validation_messages.SaleRate">
                        <span class="error-message" *ngIf="productDialogform.get('SaleRate').hasError(validation.type) && (productDialogform.get('SaleRate').dirty || productDialogform.get('SaleRate').touched)">{{validation.message}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="SaleDate">Sale Date</label>
                    <input type="date" placeholder="Sale Date" class="form-control" formControlName="SaleDate">
                </div>
            </div>
        </div> -->
    </div>
    <mat-dialog-actions style="float: right;">
        <button class="btn btn-default" [mat-dialog-close]="true">Cancel</button>&nbsp;&nbsp;&nbsp;
        <button type="submit" class="btn btn-primary" [disabled]="!inventoryDialogform.valid">Save</button>
    </mat-dialog-actions>
</form>
</div>