<div class="custom-modal-container">
    <div class="modal-header"><h2 mat-dialog-title>Payment Type</h2></div>
<form [formGroup]="paymentDialogform" (ngSubmit)="createPayment()">
<!-- <div class="row" *ngIf="IsEditDialog == true">
    <div class="col-md-6">
        <div class="form-group">
            <label for="PaymentTypeCode">Payment Type Code</label>
            <input class="form-control" formControlName="PaymentTypeCode" disabled>
        </div>
    </div>
</div> -->
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="PaymentTypeID">Payment Type
                    <span class="required">*</span>
            </label>
            <select class="form-control" formControlName="PaymentTypeID" (change)="onChange()">
                <option [ngValue]="0" disabled>--Select--</option>
                <option *ngFor="let itemPaymentTypes of paymentTypes;let i=index" [ngValue]="itemPaymentTypes.ID">{{itemPaymentTypes.Name}}</option>
            </select>
            <span class="error-message">{{validationPaymentTypeMessage}}</span>
            <!-- <div *ngFor="let validation of validation_messages.ProductID">
                <span class="error-message" *ngIf="paymentDialogform.get('PaymentTypeID').hasError(validation.type) && (paymentDialogform.get('PaymentTypeID').dirty || paymentDialogform.get('PaymentTypeID').touched)">{{validation.message}}</span>
            </div> -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="InitialAmount">Initial Amount
                <span class="required">*</span>
            </label>
            <input type="number" placeholder="Initial Amount" class="form-control" formControlName="InitialAmount">
        </div>
    </div>
</div>
<!-- <div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="BankName">Bank Name</label>
                <input placeholder="Bank Name" class="form-control" formControlName="BankName">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="BankCode">Bank Code</label>
                <input placeholder="Bank Code" class="form-control" formControlName="BankCode">
            </div>
        </div>
    </div>
    <div class="row" id="dvChequeNumber" *ngIf = "divPaymentType == 1">
        <div class="col-md-6">
            <div class="form-group">
                <label for="ChequeNumber">Cheque Number</label>
                <input placeholder="Cheque Number" class="form-control" formControlName="ChequeNumber">
            </div>
        </div>
    </div>
    <div class="row" id="dvDraftNumber" *ngIf = "divPaymentType == 2">
        <div class="col-md-6">
            <div class="form-group">
                <label for="DraftNumber">Draft Number</label>
                <input placeholder="Draft Number" class="form-control" formControlName="DraftNumber">
            </div>
        </div>
    </div>
    <div class="row" id="dvWalletNumber" *ngIf = "divPaymentType == 3">
        <div class="col-md-6">
            <div class="form-group">
                <label for="WalletNumber">Wallet Number</label>
                <input placeholder="Wallet Number" class="form-control" formControlName="WalletNumber">                   
            </div>
        </div>
    </div>
</div> -->
<mat-dialog-actions style="float: right;">
    <button class="btn btn-default" [mat-dialog-close]="true">Cancel</button>&nbsp;&nbsp;&nbsp;
    <button type="submit" class="btn btn-primary" [disabled]="!paymentDialogform.valid" (click)="checkFormValid()">Save</button>
</mat-dialog-actions>
</form>
</div>