
<div class="row">
    <div class="form-group">
            <div class="col-md-12">
                    <div class="col-md-4">
                            <div class="form-group">
                                <label for="ReadingDate" style="font-size: 20px;">Sale Measured on
                                        <span class="required">*</span>
                                </label>
                            </div>
                        </div>
                    <div class="col-md-2">
                            <div class="form-group">
                                <input type="date" placeholder="Reading Date"  class="form-control" [(ngModel)]="pumpDate" #ReadingDate="ngModel" name="ReadingDate-{{in}}" (change)="onBlurDate($event)">
                            </div>
                        </div>
            </div>
</div></div>

<div class="tab-content-wrapper">
    <div class="row">
        <div class="col-md-12">
           
                
                <div class="table-responsive" *ngIf="tank && tank.length>0">
                        <table class="table tab-content-table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Tank Name(Ltr)</th>
                                    <th>Sale By Tank(Ltr)</th>  
                                    <th>Sale By Nozzle(Ltr)</th>   
                                    <th>Difference(Ltr)</th>                                   
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tr *ngFor="let tankItem of tank let i=index">
                                    <td> {{tankItem.TankName}}</td>
                                <td>{{tankItem.TankClosingStock}}</td>  
                                <td>{{tankItem.NozzleFuelSale}}</td>  
                                <td>{{(tankItem.TankClosingStock > tankItem.NozzleFuelSale ? tankItem.TankClosingStock - tankItem.NozzleFuelSale : tankItem.NozzleFuelSale -tankItem.TankClosingStock  )}}</td>  
                                <td><a  (click)="OpenDifferenceDetailDialog(tankItem.ID)" style="cursor: pointer;">Details</a></td>
                            </tr>
                        </table>
                    </div>
        </div>
    </div>

</div>

<div class="loadercheckout" style="display: block;" *ngIf="petrolPumpService.globalLoader"></div>