<br/>



<!-- <userform (userCreated)="addUser($event)"></userform> -->
<div class="col-md-12 table-responsive" *ngIf="pumpProduct != null && pumpProduct.length>0">
  <table style="border: 1px solid black" class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Unit</th>
        <th>Purchase Rate</th>
        <th>Purchase Date</th>
        <th>Sale Price</th>
        <th>Sale Date</th>
        <th>Action</th>
      </tr>
    </thead>

    <tr *ngFor="let product of pumpProduct let i=index">
      <!-- <td>{{product.ProductID}}</td> -->
      <th>{{getProductName(product.ProductID)}}</th>
      <td>{{getUnitName(product.Unit)}}</td>
      <td>{{product.PurchaseRate}}</td>
      <td>{{product.PurchaseDate | date}}</td>
      <td>{{product.SaleRate}}</td>
      <td>{{product.SaleDate | date}}</td>
      <!-- <td>{{product.CreatedOn}}</td>
      <td>{{product.CreatedBy}}</td> -->
      <!-- <td>{{getUserRole(product.RoleID)}}</td> -->
      <td>
        <a (click)="editProduct(product)" style="cursor: pointer;">Edit</a>&nbsp;
        <a (click)="DeleteProduct(product)" style="cursor: pointer;">Delete</a>
      </td>
    </tr>
  </table>
</div>
<!-- <div>
  <a [routerLink]="['/dashboard',this.pumpCode]">Manage Inventory</a>
</div> -->