 

<br/>

<div class="tab-content-wrapper">
<!-- <userform (userCreated)="addUser($event)"></userform> -->
<div class="col-md-12 " *ngIf="pumpPayment != null && pumpPayment.length>0" >
    <div class="row">
        <div class="col-md-6 setupHeader">
            <div class="form-group">
                <h3 class="tab-content-table-heading">Payment
                </h3>
            </div>
        </div>
    </div>
  <div class="table-responsive">
  <table  class="table tab-content-table table-striped">
    <thead class="thead-dark">
    <tr>
      <!-- <th>Product Id</th> -->
      <th>Payment Type</th>
      <!-- <th>Bank Name</th>
      <th>Bank Code</th>    -->
      <!-- <th>Purchase Rate</th>
      <th>Sale Rate</th>
      <th>Description</th> -->
      <!-- <th>Modified By</th> -->
      <th>Action</th>
    </tr>
  </thead>
    
    <tr *ngFor ="let itemPayment of pumpPayment let i=index">
      <!-- <td>{{product.ProductID}}</td> -->
      <!-- <th>{{getProductName(product.ProductID)}}</th>
      <td>{{getUnitName(product.Unit)}}</td> -->
      <td>{{itemPayment.PaymentTypeName}}</td>
      <!-- <td>{{itemPayment.BankName}}</td>
      <td>{{itemPayment.BankCode}}</td> -->
      <!-- <td>{{product.Description}}</td> -->
      <!-- <td>{{product.CreatedOn}}</td>
      <td>{{product.CreatedBy}}</td> -->
      <!-- <td>{{getUserRole(product.RoleID)}}</td> -->
      <td>
        <a (click)="editProduct(itemPayment)" style="cursor: pointer;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>&nbsp;
        <a (click)="DeleteProduct(itemPayment)" style="cursor: pointer;" *ngIf="userData && userData.RoleID == -2">Delete</a>
      </td>
    </tr>
  </table>
</div>
</div>
<div style="float:right;">
    <button class="btn btn-primary" type="submit" (click)="moveToNext()">Next</button>
</div>
</div>