<div class="row">
    <div class="form-group">
        <!-- <div class="col-md-3">
            <div id="mySidenav" class="sidenav">
                <a [routerLink]="['/Landing',pumpCode]" *ngIf="userData && userData.RoleID!=2">DashBoard</a>
                <a [routerLink]="['/Inventory',pumpCode]" *ngIf="userData && userData.RoleID!=2">Inventory and Price Management</a>
                <a [routerLink]="['/Creditor',pumpCode]" *ngIf="userData && userData.RoleID!=2">Creditor</a>
                <a [routerLink]="['/DailyPrice',pumpCode]" *ngIf="userData && userData.RoleID!=2">Set Daily Price</a>
                <a [routerLink]="['/FuelRequest',pumpCode]" *ngIf="userData && userData.RoleID==2">Fuel Request</a>
                <a [routerLink]="['/FuelRequestReceived',pumpCode]" *ngIf="userData && userData.RoleID!=2">Fuel Request Received</a>
                <a [routerLink]="['/CreditorLedger',pumpCode]" *ngIf="userData && userData.RoleID==2">Ledger</a>
                <a [routerLink]="['/DailyTankReading',pumpCode]" *ngIf="userData && userData.RoleID!=2">Set Daily Tank Reading</a>
                <a [routerLink]="['/DailyNozzleReading',pumpCode]" *ngIf="userData && userData.RoleID!=2">Set Daily Nozzle
                    Reading</a>
            </div>
        </div> -->
        <div class="col-md-12">
            <form (ngSubmit)="savePumpInfo(pumpNozzles)" style="width: 98%;">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="NozzleName" style="font-size: 20px;">Nozzle Name
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="OpeningReading" style="font-size: 20px;">Opening Reading
                                    <span class="required">*</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="ReadingDate" style="font-size: 20px;">Reading Date
                                    <span class="required">*</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="BreakUpPrice" style="font-size: 20px;">Break Up Price
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div *ngFor="let itempumpNozzles of pumpNozzles; let in=index">
                            <!-- <span class="error-message" *ngIf="productDialogform.get('SaleRate').hasError(validation.type) && (productDialogform.get('SaleRate').dirty || productDialogform.get('SaleRate').touched)">{{validation.message}}</span> -->
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="ProductName">{{itempumpNozzles.NozzleName}}
                                            <!-- <span class="required">*</span> -->
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="number" placeholder="Opening Reading" class="form-control" [(ngModel)]="itempumpNozzles.OpeningReading" #OpeningReading="ngModel"
                                            name="OpeningReading-{{in}}" (blur)="onBlurOpeningReading(itempumpNozzles)" [disabled] = "!btnSaveDisabled">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="date" placeholder="Reading Date" class="form-control" [(ngModel)]="itempumpNozzles.ReadingDate" #ReadingDate="ngModel"
                                            name="ReadingDate-{{in}}" (change)="onBlurDate(itempumpNozzles)">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                            <a (click)="editProduct(itempumpNozzles)" *ngIf = "!btnSaveDisabled">Break up</a>&nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="float:right;">
                            <button class="btn btn-default" (click)="cancel()">Cancel</button> &nbsp;&nbsp;&nbsp;
                            <button class="btn btn-primary" type="submit" [disabled] = "!btnSaveDisabled">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>