<!-- <mat-sidenav-container style="height:100%">
  <mat-sidenav #sidenav mode="over" opened="false">
    <side-nav-menu title='Demo Menu' [sidenav]="sidenav">
      <side-nav-item route="/state" title="Menu State" icon="home"></side-nav-item>
      <side-nav-item route="/page1" title="Page 1" icon="assignment" [disabled]="state.disabled['page1']"></side-nav-item>
      <side-nav-group>
        <side-nav-item route="/page2" title="Page 2" [disabled]="state.disabled['page2']"></side-nav-item>
        <side-nav-item route="/page3" title="Page 3" [disabled]="state.disabled['page3']"></side-nav-item>
      </side-nav-group>
      <side-nav-group title="submenu 4">
        <side-nav-item route="/page/4.1" title="Page 4.1 xxxxx xxxxx"></side-nav-item>
        <side-nav-item route="/page/4.2" title="Page 4.2"></side-nav-item>
      </side-nav-group>
      <side-nav-x-group title="submenu 5">
        <side-nav-item route="/page/5.1" title="Page 5.1 xxxxx xxxxx"></side-nav-item>
        <side-nav-item route="/page/5.2" title="Page 5.2"></side-nav-item>
      </side-nav-x-group>
      <side-nav-item route="/page/5" title="Page 5"></side-nav-item>
      <side-nav-item route="/page/6" title="Page 6" icon="info"></side-nav-item>
    </side-nav-menu>
  </mat-sidenav>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    <span>mat-sidenav-menu Demo</span>
  </mat-toolbar>

  <div style="text-align:center;width:100%">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container> -->
<!-- <md-sidenav #sidenav mode="side" class="app-sidenav">
  <md-nav-list>
      <a md-list-item href="page1.html">Page 1</a>
      <a md-list-item href="page2.html">Page 2</a>
      <a md-list-item href="page3.html">Page 3</a>
  </md-nav-list>
</md-sidenav> -->

<mat-tab-group aria-orientation="vertical">
  <mat-tab aria-orientation="vertical">
    <ng-template mat-tab-label>
      DashBoard
    </ng-template>
    <pump-landingDashboard *ngIf="pumpStatus" [pumpStatus]='pumpStatus' [pumpCode]='petrolPumpCode'></pump-landingDashboard>
  </mat-tab>
  <mat-tab aria-orientation="vertical" [disabled]='!(pumpProduct && pumpProduct.length > 0)'>
    <ng-template mat-tab-label>
      Inventory and Price Management
      <!-- <div>
        <div *ngIf="pumpStatus && pumpStatus.length > 0 && pumpStatus[0].BasicInfo == 1">
          <img src="../../assets/smalltickumber.png" class="imgTab">
        </div>
        <div *ngIf="pumpStatus && pumpStatus.length > 0 && pumpStatus[0].BasicInfo == 0">
          <img src="../../assets/small-red-cross.png" class="imgTab">
        </div>
      </div> -->
    </ng-template>
    <!-- <div class="col-md-12">
      <button class="btn btn-primary" style="float:right;" (click)="openAddInventoryDialog()">Add Inventory</button>
    </div> -->
    <pump-inventory *ngIf="pumpProduct" [pumpProduct]='pumpProduct' [pumpProductWithLubesPrise] = 'pumpProductWithLubesPrise' [pumpTanks] = 'pumpTanks' [pumpCode]='petrolPumpCode'></pump-inventory>
  </mat-tab>
  <mat-tab aria-orientation="vertical">
    <ng-template mat-tab-label>
      Creditor
      <!-- <div>
        <div *ngIf="pumpStatus && pumpStatus.length > 0 && pumpStatus[0].BasicInfo == 1">
          <img src="../../assets/smalltickumber.png" class="imgTab">
        </div>
        <div *ngIf="pumpStatus && pumpStatus.length > 0 && pumpStatus[0].BasicInfo == 0">
          <img src="../../assets/small-red-cross.png" class="imgTab">
        </div>
      </div> -->
    </ng-template>
    <div class="col-md-12">
      <button class="btn btn-primary" style="float:right;" (click)="openAddUserDialog()">Add Creditor</button>
    </div>
    <pump-creditor *ngIf="pumpUsers" [pumpUsers]='pumpUsers' [pumpCode]='petrolPumpCode'></pump-creditor>
  </mat-tab>
  <mat-tab aria-orientation="vertical" [disabled]='!(pumpProduct && pumpProduct.length > 0)'>
      <ng-template mat-tab-label>
        Set Daily Price
        <!-- <div>
          <div *ngIf="pumpStatus && pumpStatus.length > 0 && pumpStatus[0].BasicInfo == 1">
            <img src="../../assets/smalltickumber.png" class="imgTab">
          </div>
          <div *ngIf="pumpStatus && pumpStatus.length > 0 && pumpStatus[0].BasicInfo == 0">
            <img src="../../assets/small-red-cross.png" class="imgTab">
          </div>
        </div> -->
      </ng-template>
      <!-- <div class="col-md-12">
        <button class="btn btn-primary" style="float:right;" (click)="openAddUserDialog()">Add Creditor</button>
      </div> -->
      <pump-priceAdjustment *ngIf="pumpProduct" [pumpProduct]='pumpProduct' [pumpCode]='petrolPumpCode'></pump-priceAdjustment>
    </mat-tab>

</mat-tab-group>

<!-- <mat-tab>
      <ng-template mat-tab-label>
        Additional Details
        <div>
          <div *ngIf="pumpStatus && pumpStatus.length > 0 && pumpStatus[0].AdditionalInfo == 1">
            <img src="../../assets/smalltickumber.png"  class="imgTab">
          </div>
          <div *ngIf="pumpStatus && pumpStatus.length > 0 && pumpStatus[0].AdditionalInfo == 0">
            <img src="../../assets/small-red-cross.png"  class="imgTab">
          </div>
        </div>
      </ng-template>
      <pump-Additionalinfo *ngIf="petrolPumpInfo" [petrolPump]='petrolPumpInfo'></pump-Additionalinfo>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        Products
        <div>
          <div *ngIf="pumpStatus && pumpStatus.length > 0 && pumpStatus[0].Product == 1">
            <img src="../../assets/smalltickumber.png"  class="imgTab">
          </div>
          <div *ngIf="pumpStatus && pumpStatus.length > 0 && pumpStatus[0].Product == 0">
            <img src="../../assets/small-red-cross.png"  class="imgTab">
          </div>
        </div>
      </ng-template>
      <div class="col-md-12">
        <button class="btn btn-primary" style="float:right;" (click)="openAddProductDialog()">Add Product</button>
      </div>
      <pump-product *ngIf="pumpProduct" [pumpProduct]='pumpProduct' [pumpCode]='petrolPumpCode'></pump-product>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        Payment
        <div>
          <div *ngIf="pumpStatus && pumpStatus.length > 0 && pumpStatus[0].Payment == 1">
            <img src="../../assets/smalltickumber.png"  class="imgTab">
          </div>
          <div *ngIf="pumpStatus && pumpStatus.length > 0 && pumpStatus[0].Payment == 0">
            <img src="../../assets/small-red-cross.png"  class="imgTab">
          </div>
        </div>
      </ng-template>
      <div class="col-md-12">
        <button class="btn btn-primary" style="float:right;" (click)="openAddPaymentTypeDialog()">Add Payment Type</button>
      </div>
      <pump-payment *ngIf="pumpPayment" [pumpPayment]='pumpPayment' [pumpCode]='petrolPumpCode'></pump-payment>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        Users
        <div>
          <div *ngIf="pumpStatus && pumpStatus.length > 0 && pumpStatus[0].User == 1">
            <img src="../../assets/smalltickumber.png"  class="imgTab">
          </div>
          <div *ngIf="pumpStatus && pumpStatus.length > 0 && pumpStatus[0].User == 0">
            <img src="../../assets/small-red-cross.png"  class="imgTab">
          </div>
        </div>
      </ng-template>
      <div class="col-md-12">
        <button class="btn btn-primary" style="float:right;" (click)="openAddUserDialog()">Add User</button>
      </div>
      <pump-users *ngIf="pumpUsers" [pumpUsers]='pumpUsers' [pumpCode]='petrolPumpCode'></pump-users>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        Tanks
        <div>
          <div *ngIf="pumpStatus && pumpStatus.length > 0 && pumpStatus[0].Tank == 1">
            <img src="../../assets/smalltickumber.png"  class="imgTab">
          </div>
          <div *ngIf="pumpStatus && pumpStatus.length > 0 && pumpStatus[0].Tank == 0">
            <img src="../../assets/small-red-cross.png"  class="imgTab">
          </div>
        </div>
      </ng-template>
      <div class="col-md-12">
        <button class="btn btn-primary" style="float:right;" (click)="openAddTankDialog()">Add Tank</button>
      </div>
      <pump-tank *ngIf="pumpTanks" [pumpTanks]='pumpTanks' [pumpCode]='petrolPumpCode'></pump-tank>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        Nozzles
        <div>
          <div *ngIf="pumpStatus && pumpStatus.length > 0 && pumpStatus[0].Nozzle == 1">
            <img src="../../assets/smalltickumber.png"  class="imgTab">
          </div>
          <div *ngIf="pumpStatus && pumpStatus.length > 0 && pumpStatus[0].Nozzle == 0">
            <img src="../../assets/small-red-cross.png"  class="imgTab">
          </div>
        </div>
      </ng-template>
      <div class="col-md-12">
        <button class="btn btn-primary" style="float:right;" (click)="openAddNozzleDialog()">Add Nozzle</button>
      </div>
      <pump-nozzle *ngIf="pumpNozzles" [pumpNozzle]='pumpNozzles' [pumpCode]='petrolPumpCode'></pump-nozzle>
    </mat-tab> -->