<br/>
<div class="tab-content-wrapper">
<div class="col-md-12" *ngIf="pumpTanks.length>0">
    <div class="row">
        <div class="col-md-6 setupHeader">
            <div class="form-group">
              <h3  class="tab-content-table-heading">Tanks
              </h3>
            </div>
        </div>
    </div>
  <!-- <table style="border: 1px solid black" class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Fuel Type</th>
        <th>Capacity</th>
        <th>Action</th>
      </tr>
    </thead>
    <tr *ngFor="let tank of pumpTanks let i=index">
        <td>
          <table>
            <tr>
              
            </tr>
          </table>
        </td>
        <td>{{i+1}}</td>
        <td>{{getTankFuelType(tank.FuelTypeID)}}</td>
        <td>{{tank.TankCapacity}}</td>
        <td>
          <a (click)="editTank(tank)">Edit</a>
        </td>
      </tr>
  </table> -->
  <div class="table-responsive">
  <table  class="table tab-content-table table-striped">
    <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Product</th>
      <th>Opening Reading</th>
      <th>Action</th>      
    </tr>
  </thead>
    
    <tr *ngFor ="let tank of pumpTanks let i=index">
      <td>{{tank.TankName}}</td>
      <td>{{tank.ProductName}}</td>
      <td>{{tank.OpeningReading}}</td>
      <td>
        <a (click)="editTank(tank)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>&nbsp;
        <a (click)="DeleteTank(tank)" style="cursor: pointer;" *ngIf="userData && userData.RoleID == -2">Delete</a>
      </td>
    </tr>
  </table>
</div>

  
  <!-- <div>
      <div *ngFor="let nozzle of tank.pp_Nozzles let j=index">
        <div *ngIf="j==0">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="StartDate"></label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="StartDate">ID</label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="StartDate">NozzleCode</label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="StartDate">OpeningReading</label>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="col-md-3">
            <div class="form-group">
              <div>
                <span></span>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <div>
                <span>{{nozzle.ID}}</span>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <div>
                <span>{{nozzle.NozzleCode}}</span>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <div>
                <span>{{nozzle.OpeningReading}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
    </div>-->
</div>
<div style="float:right;">
    <button class="btn btn-primary" type="submit" (click)="moveToNext()">Next</button>
</div>
</div>