<h2 mat-dialog-title>Tank Ledger</h2>
<div class="row">
        <div class="form-group">
            <div class="col-md-12">
<div  class="table-responsive" >
        <table style="border: 1px solid black" class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                            <th>Tank Name</th>                                   
                            <th>Opening Stock</th>
                            <th>Closing Stock</th>
                    </tr>
                    </thead>
                    <tr>
                            <td>{{tankName}}</td>
                            <td>{{tankOpeningStock}}</td>
                            <td>{{tankClosingStock}}</td>
                        </tr>
                    </table>
</div>
</div>
</div>
<div class="row">
    <div class="form-group">
        <div class="col-md-12">
            <div class="table-responsive" *ngIf="pumpTanksLedger && pumpTanksLedger.length>0">
                <table style="border: 1px solid black" class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                                <th>Date</th>
                                <th>Description</th>
                                <!-- <th>Opening Stock</th> -->
                                <th>Debit</th>
                                <th>Credit</th>
                                <th>Balance</th>
                            
                        </tr>
                    </thead>
                    <tr *ngFor="let pumpTanksLedgerTemp of pumpTanksLedger | SearchFilter: query | paginate: { itemsPerPage: 10, currentPage: pageNumber }; let i=index">
                            <td>{{pumpTanksLedgerTemp.ReadingDate}}</td>
                            <td></td>
                        <!-- <td>{{pumpTanksLedgerTemp.OpeningStock}}</td> -->
                        <td>{{pumpTanksLedgerTemp.Debit== 0 ? '' : pumpTanksLedgerTemp.Debit}}</td>                               
                                <td>{{pumpTanksLedgerTemp.Credit == 0 ? '' : pumpTanksLedgerTemp.Credit}}</td>                               
                                <td>{{pumpTanksLedgerTemp.ClosingStock}}</td>  
                       
                        <!-- <td>{{pumpTanksLedgerTemp.Status == 0 ? 'Debit' : 'Credit'}}</td> -->
                    </tr>
                </table>
                <pagination-controls (pageChange)="paginate($event)"></pagination-controls>
            </div>
        </div>
    </div>
</div>
<mat-dialog-actions style="float: right;">
    <button class="btn btn-default" [mat-dialog-close]="true">Cancel</button>&nbsp;&nbsp;&nbsp;
</mat-dialog-actions>

