    <div class="row">
            <div class="col-md-12">
                    <div class="table-responsive" *ngIf="pumpNozzles && pumpNozzles.length>0">
                            <table style="border: 1px solid black" class="table table-striped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Nozzle Name</th>
                                        <th>Opening Reading</th>                                   
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tr *ngFor="let itempumpNozzles of pumpNozzles let i=index">
                                        <td> {{itempumpNozzles.NozzleName}}</td>
                                    <td>{{itempumpNozzles.OpeningReading}}</td>  
                                    <td><a  (click)="OpenNozzleLedgerDialog(itempumpNozzles.ID)" style="cursor: pointer;">View Ledger</a></td>
                                </tr>
                                
                            </table>
                        </div>
            </div>
        </div>
    
    