.sidenav {
    height: 100%;
    /* width: 250px; */
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 14px;}
}
.no-click-backdrop {
    pointer-events: none;
  }

  .border-div
  {
    border:gray;
    border-width: 1px;
    border-style: solid;
  }
  .height-scroll1
  {
    min-height:100px;
    max-height: 200px; 
    overflow:scroll;
  }