<h2 mat-dialog-title>Tank V/s Nozzle Sale Details</h2>
<div class="row">
        <div class="form-group">
            <div class="col-md-12">
<div  class="table-responsive" >
        <table style="border: 1px solid black" class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                            <th>Tank Name</th>                                   
                            <th>Tank Sale(Ltr)</th>
                            <th>Nozzle Sale(Ltr)</th>
                    </tr>
                    </thead>
                    <tr>
                            <td>{{tankName}}</td>
                            <td>{{tankSale}}</td>
                            <td>{{nozzleSale}}</td>
                        </tr>
                    </table>
</div>
</div>
</div>
<div class="row">
    <div class="form-group">
        <div class="col-md-12">
            <div class="table-responsive" *ngIf="tanksale && tanksale.length>0">
                <table style="border: 1px solid black" class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                                <th>Nozzle Name</th>
                                <th>Closing Reading</th>
                                <th>Opening Reading</th>
                                <th>Saled Fuel(Ltr)</th>                                
                            
                        </tr>
                    </thead>
                    <tr *ngFor="let tanksaleTemp of tanksale let i=index">
                            <td>{{tanksaleTemp.NozzleName}}</td>
                        <td>{{tanksaleTemp.NozzleClosingReading}}</td>                               
                                <td>{{tanksaleTemp.NozzleOpeningReading}}</td>                               
                                <td>{{tanksaleTemp.NozzleFuelSale}}</td>  
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<mat-dialog-actions style="float: right;">
    <button class="btn btn-default" [mat-dialog-close]="true">Cancel</button>&nbsp;&nbsp;&nbsp;
</mat-dialog-actions>