.imgTab
{
    width: 50px;
    margin-bottom:10px;

}
.top-btn{
    margin-top: 1rem;
  }
  .cdk-overlay-pane .mat-dialog-container{
    max-height:auto !important;
    overflow-y: scroll!important;
    overflow-x: hidden!important;
}
.info-tab-group .mat-tab-labels .mat-tab-label{
background-color: #cd6a42;
width: 100px;
height: 130px;
opacity: 1;
}


