<div class="custom-modal-container">
        <div class="modal-header"><h2 mat-dialog-title>Payment Ledger</h2></div>
<div class="row">
        <div class="form-group">
            
            <div class="col-md-12">
                
                <div class="table-responsive" *ngIf="paymentLedger && paymentLedger.length>0">
                    <table style="border: 1px solid black" class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>Amount</th>
                                <th>Date</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tr *ngFor="let paymentLedgerTemp of paymentLedger | paginate: { itemsPerPage: 10, currentPage: pageNumber }; let i=index">
                            <td>{{paymentLedgerTemp.Amount}}</td>
                            <td>{{paymentLedgerTemp.Date | date}}</td>
                            <td>
                                <div [innerHtml]="paymentLedgerTemp.Description"></div>
                            </td>
                            <td>{{paymentLedgerTemp.IsCredit == 0 ? 'Debit' : 'Credit'}}</td>
                        </tr>                        
                    </table>
                </div>
                <pagination-controls (pageChange)="paginate($event)"></pagination-controls>
            </div>
        </div>
        <mat-dialog-actions style="float: right;">
                <button class="btn btn-default" [mat-dialog-close]="true">Cancel</button>&nbsp;&nbsp;&nbsp;
            </mat-dialog-actions>
    </div>
</div>