<br/>
<div class="tab-content-wrapper">
<div class="col-md-12" *ngIf="pumpNozzle.length>0">
  <div class="row">
    <div class="col-md-6 setupHeader">
      <div class="form-group">
        <h3  class="tab-content-table-heading">Nozzles
        </h3>
      </div>
    </div>
  </div>
  <input type="text" class="col-md-2 searchbox" placeholder=" Search" [(ngModel)]="query" id="listSearch">
<div class="table-responsive">
  <table class="table tab-content-table table-striped" >
    <thead class="thead-dark">
    <tr>
      <th (click)="sort('NozzleName')" class="cursorpointer">Name
      <span class="glyphicon sort-icon" *ngIf="key =='NozzleName'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
      <th (click)="sort('Tank')" class="cursorpointer">Tank
        <span class="glyphicon sort-icon" *ngIf="key =='Tank'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
      </th>
      <th (click)="sort('OpeningReading')" class="cursorpointer">Opening Reading
        <span class="glyphicon sort-icon" *ngIf="key =='OpeningReading'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
      </th>
      <th (click)="sort('ReadingDate')" class="cursorpointer">Reading Date
        <span class="glyphicon sort-icon" *ngIf="key =='ReadingDate'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
      </th>
      <th (click)="sort('AssignedUserName')" class="cursorpointer">Assigned To
          <span class="glyphicon sort-icon" *ngIf="key =='AssignedUserName'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
      </th>
      <th>Action</th>
      
    </tr>
  </thead>
    
    <tr *ngFor ="let nozzle of pumpNozzle | orderBy: key : reverse | SearchFilter: query | paginate: { itemsPerPage: 10, currentPage: pageNumber }; let i=index">
      <td>{{nozzle.NozzleName}}</td>
      <td>{{nozzle.TankName}}</td>
      <td>{{nozzle.OpeningReading}}</td>
      <td>{{nozzle.ReadingDate | date}}</td>
      <td>{{nozzle.AssignedUserName}}</td>
      <td>
        <a (click)="editNozzle(nozzle)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>&nbsp;
        <a (click)="DeleteNozzle(nozzle)" style="cursor: pointer;" *ngIf="userData && userData.RoleID == -2">Delete</a>
      </td>
    </tr>
  </table>
</div>
  <pagination-controls (pageChange)="paginate($event)"></pagination-controls>

</div>
<div style="float:right;">
    <button class="btn btn-primary" type="submit" (click)="moveToNext()">Next</button>
</div>
</div>