 

<br/>


  <!-- <userform (userCreated)="addUser($event)"></userform> -->
  <div class="col-md-12 table-responsive" *ngIf="pumpUsers.length>0">
      <div class="row">
          <div class="col-md-6 setupHeader">
              <div class="form-group">
                  <label>Users
                  </label>
              </div>
          </div>
      </div>
    <table style="border: 1px solid black" class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th>User Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Phone</th>
        <!-- <th>Address</th> -->
        <!-- <th>Credit Limit</th> -->
        <th>Action</th>
      </tr>
    </thead>
      
      <tr *ngFor ="let pumpUser of pumpUsers let i=index">
        <td>{{pumpUser.UserId}}</td>
        <td>{{pumpUser.FullName}}</td>
        <td>{{pumpUser.Email}}</td>
        <td>{{pumpUser.RoleName}}</td>
        <td>{{pumpUser.Phone}}</td>
        <!-- <td>{{pumpUser.Address}}</td> -->
        <!-- <td>{{pumpUser.CreditLimit}}</td> -->
        <td>
            <a (click)="ChangePassword(pumpUser)" style="cursor: pointer;">Change Password</a><br>
          <a (click)="editUser(pumpUser)" style="cursor: pointer;">Edit</a>&nbsp;
          <a (click)="DeleteUser(pumpUser)" style="cursor: pointer;">Delete</a>
        </td>
      </tr>
    </table>
  </div>
  <div style="float:right;">
      <button class="btn btn-primary" type="submit" (click)="moveToNext()">Next</button>
  </div>